@import url('desktop/layoutDesktop.css') (orientation:landscape);
@import url('mobile/layoutMobile.css') (orientation:portrait);

div.firstFullWrapper {
    height: 100vh;
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: column;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
}

.verticalName {
    grid-column: 1;
    grid-row: 2;

}

.mainHeading{
    grid-column: 2;
}

.cornerBackground {
    grid-column: 1;
    grid-row: 1;
}

.firstFullWrapperMainBody {
    height: 100%;
    display: grid;
    grid-gap: 0px;

    grid-template-columns: auto 80% auto;
    grid-template-rows: auto min-content minmax(0, 50px);
    grid-column: 2;
    grid-row: 2;
}

.ffwCenterInfo {
    grid-column: 2;
    grid-row: 2;
}