@import url('desktop/styleDesktop.css') (orientation:landscape);
@import url('mobile/styleMobile.css') (orientation:portrait);
@import url('layout.css');

div.firstFullWrapper {
    background-image: url("../../../../private/images/banner.jpg");
    background-size: cover;
}

.verticalName{
    writing-mode: vertical-rl;
    /* text-orientation: upright; */
    font-size: 100px;
    margin: 0;
}

.mainHeading {
    font-size: 100px;
    margin: 0;
}

.verticalName, .mainHeading, .cornerBackground {
    background-color: white;
    mix-blend-mode: screen;
    text-shadow: 0 0 5px black;
}

.firstFullWrapperMainBody {
    font-size: 30px;

}

.ffwCenterInfo {
    backdrop-filter: blur(500px);
    background-color: rgba(0, 0, 0, 0.212);
    padding: 10px;
}

div.ffwCenterInfo p {
    filter: none
}