@import url('desktop/styleDesktop.css') (orientation:landscape);
@import url('mobile/styleMobile.css') (orientation:portrait);
@import url('layout.css');

.verticalName{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 100px;
    margin: 0;
}

.mainHeading {
    font-size: 100px;
    margin: 0;
}

.verticalName, .mainHeading, .cornerBackground {
    background-color: blue;
}

.firstFullWrapperMainBody {
    font-size: 30px;
    background-color: red;
}

.ffwCenterInfo {
    background-color: lightcyan;
    padding: 10px;
}