@keyframes animationIn {
    0% {
        transform-origin: center top;
        transform: perspective(4000px) rotateX(-90deg) translateZ(0px);
    }
    100% {
        transform-origin: center top;
        transform: perspective(4000px) rotateX(0deg) translateZ(0px);
      
    }
  }
  
 @media screen and (-webkit-min-device-pixel-ratio:0) {
    @supports not (-ms-ime-align:auto) {
        div.animationIn {  
            animation: 1s ease-out 0s 1 animationIn;
        }
    }
      
}
  

div.socialIcons a {
    transform: perspective(60px) rotateX(0deg) translateZ(0px);
    transition-duration: 1s;
}

div.socialIcons a:hover {
    transform: perspective(60px) rotateX(30deg) translateZ(10px);
    z-index: 10;
}

div.socialIcons a:active {
    transform: perspective(1000px) rotateX(180deg) translateZ(0);
}
