@import url('desktop/styleDesktop.css') (orientation:landscape);
@import url('mobile/styleMobile.css') (orientation:portrait);
@import url('layout.css');
@import url('subheading.css');
@import url('extra/whatIDo/style.css');
@import url('extra/webProjectsWrapper/style.css');
@import url('extra/artProjectsWrapper/style.css');
@import url('animation.css');
@import url('mix.css');
body {
    background-image: url("../../private/images/banner.jpg");
    background-size: cover;
}

body {
    background-image: url("../../private/images/banner.jpg");
    background-size: cover;
}

.verticalName {
    writing-mode: vertical-rl;
    /* text-orientation: upright; */
    margin: 0;
}

.verticalName,
.mainHeading,
.cornerBackground,
.aside {
    transition: 1s;
    z-index: 1;
    background-color: #aaaaaa;
    mix-blend-mode: screen;
    text-shadow: 0 0 5px black;
    font-family: headingText;
}

@media only screen and (min-width: 380px) {
    .verticalName,
    .mainHeading,
    .cornerBackground,
    .aside {
        font-size: 50px;
    }
    div.socialIcons {
        font-size: 25px;
    }
}

@media only screen and (max-width: 380px) {
    .verticalName,
    .mainHeading,
    .cornerBackground,
    .aside {
        font-size: 12vw;
    }
    div.socialIcons {
        font-size: 7vw;
    }
}

div.subheading h1 {
    font-size: 55px;
}

div.webProjectsWrapper p,
.artProjectsWrapperWrapper p {
    text-align: justify;
}

.artProjectsWrapperWrapper {
    grid-row: 5;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 3px 20px;
}

.mainHeading {
    margin: 0;
}

div.webProjectsWrapperWrapper {
    height: 100%;
}

.subheading.row1 {
    grid-row: 2;
}

.subheading.row2 {
    grid-row: 4;
}