@import url('desktop/styleDesktop.css') (orientation:landscape);
@import url('mobile/styleMobile.css') (orientation:portrait);
@import url('layout.css');
@import url('subheading.css');
@import url('extra/whatIDo/style.css');
@import url('extra/webProjectsWrapper/style.css');
@import url('extra/artProjectsWrapper/style.css');
@import url('animation.css');
@import url('mix.css');
div.socialIcons {
    font-size: 25px;
}

div.fullBodyDiv {
    background-image: url("../../private/images/banner.jpg");
    background-size: cover;
}

body {
    background-image: url("../../private/images/banner.jpg");
    background-size: cover;
}

.verticalName {
    writing-mode: vertical-rl;
    /* text-orientation: upright; */
    margin: 0;
}

.verticalName,
.mainHeading,
.cornerBackground,
.socialIconsWrapper {
    z-index: 1;
    font-size: 50px;
    background-color: #aaaaaa;
    mix-blend-mode: screen;
    text-shadow: 0 0 5px black;
    font-family: headingText;
}

.artProjectsWrapperWrapper p,
div.subheading h1 {
    font-size: 30px;
}