@import url('mix.css');
body {
    margin: 0;
    padding: 0px;
    background-image: url("../../private/images/banner.jpg");
    background-size: cover;
}

h1 {
    z-index: 1;
    font-size: 50px;
    background-color: #aaaaaa;
    mix-blend-mode: screen;
    text-shadow: 0 0 5px black;
    font-family: headingText;
    margin: 0;
}

img {
    grid-row: 2;
    max-height: 95vh;
    max-width: 95vw;
    margin: 0 auto 50px auto;
    border-radius: 10px;
    box-shadow: 0px 50px 70px rgba(0, 0, 0);
    transition: 1s;
}

img:hover {
    border-radius: 20px;
}

div.imageWrap {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto min-content auto;
}

.mainBlock {
    background-color: rgb(37, 37, 37);
    color: #fff;
    margin: 0;
}

.mainBlock h2 {
    margin: 0;
    padding: 20px;
}

.mainBlock p {
    padding-left: 30px;
    padding-right: 30px;
}

.button {
    grid-column: 2;
    margin: 25px;
}

.button:hover {
    border-radius: 100px;
}

div.buttonWrap {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto min-content auto;
}

video {
    grid-row: 2;
    max-height: 95vh;
    max-width: 95vw;
    margin: 0 auto 50px auto;
    border-radius: 10px;
    box-shadow: 0px 50px 70px rgba(0, 0, 0);
    transition: 1s;
}

@keyframes animationIn {
    0% {
        transform-origin: center top;
        transform: perspective(4000px) rotateX(-90deg) translateZ(0px);
    }
    100% {
        transform-origin: center top;
        transform: perspective(4000px) rotateX(0deg) translateZ(0px);
    }
}

@media screen {
    body {
        animation: 1s ease-out 0s 1 animationIn;
    }
}