/* main layout */

body {
    background-color: #fff;
    margin: 0;
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

aside {
    display: grid;
    grid-gap: 0;
    grid-auto-flow: row;
    grid-template-rows: auto min-content;
    height: 100%;
    grid-row: 3;
    grid-column: 1;
}

footer a {
    margin-bottom: 5px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: grid;
    grid-auto-flow: row;
    grid-row: 2;
}

.verticalName {
    grid-column: 1;
    grid-row: 2;
    writing-mode: vertical-rl;
    /* text-orientation: upright; */
    margin: 0;
}

.mainHeading {
    grid-column: 2;
}

.cornerBackground {
    grid-column: 1;
    grid-row: 1;
}

article {
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: row;
    grid-template-rows: min-content min-content min-content min-content auto;
    grid-column: 2;
    grid-row: 2 / 4;
}

.mainHeading {
    margin: 0;
}

.verticalName,
.mainHeading,
.cornerBackground,
aside {
    z-index: 1;
    background-color: #000;
    font-family: headingText;
    color: #fff;
}

.verticalName,
.mainHeading,
.cornerBackground,
.aside {
    font-size: 50px;
}

div.socialIcons {
    font-size: 25px;
}


/* Gallery */

figure {
    transform-style: preserve-3d;
    box-shadow: 0px 0px 20px var(--galleryCellShadow);
    transform: perspective(300px) rotateX(0deg) translateZ(0px);
    transition-duration: 1s;
}

figure img {
    transform-style: preserve-3d;
    transform: perspective(300px) rotateX(0deg) translateZ(0px);
    filter: blur(0px);
    filter: grayscale(80%);
    box-shadow: 0px 0px 20px var(--galleryCellShadow);
    transition-duration: 1s;
}

figure {
    margin: 10px;
    padding: 0px;
    border-radius: 20px;
    border-bottom: solid;
    color: black;
    border-bottom-color: rgba(0, 0, 0, 0.37);
    background-color: rgb(255, 255, 255);
    transform: perspective(300px) rotateX(0deg) translateZ(0px);
    transition-duration: 1s;
}

figure img {
    border-radius: 19px 19px 1.5px 1.5px;
    width: 100%;
}

figcaption {
    transition: 1s;
    margin: 1px;
    text-align: center;
    font-size: 30px;
}


/* fonts */

@font-face {
    font-family: openSansLight;
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf");
}

@font-face {
    font-family: robotoLight;
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: subheadingText;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: headingText;
    src: url("../fonts/unused/Monoton/Monoton-Regular.ttf");
}

@font-face {
    font-family: paraText;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}