body {
    margin: 0;
    padding: 0px;
}

img {
    grid-row: 2;
    max-height: 95vh;
    max-width: 95vw;
    margin: 0 auto 0 auto;

}

div.imageWrap {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto min-content auto;
}