/* main layout */

body {
    background-color: #000;
    margin: 0;
    min-height: 100vh;
}

.verticalName,
.mainHeading,
.cornerBackground,
aside {
    z-index: 1;
    background-color: #000;
    font-family: headingText;
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
}

.verticalName,
.mainHeading,
.cornerBackground {
    font-size: 50px;
    margin: 0;
}

div.socialIcons {
    font-size: 25px;
}

footer a {
    padding: 5px;
}

footer {
    padding: 10px;
}

@supports (display: grid) {
    @media only screen and (min-width: 600px) {
        body {
            display: grid;
            grid-gap: 0px;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
            min-height: 100%;
            min-width: 100%;
        }
        aside {
            display: grid;
            grid-gap: 0;
            grid-auto-flow: row;
            grid-template-rows: auto min-content;
            height: 100%;
            grid-row: 3;
            grid-column: 1;
        }
        footer {
            padding: 0;
            display: grid;
            grid-auto-flow: row;
            grid-row: 2;
        }
        footer a {
            padding: 0;
            margin-bottom: 5px;
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;
        }
        .verticalName {
            grid-column: 1;
            grid-row: 2;
            writing-mode: vertical-rl;
            /* text-orientation: upright; */
            margin: 0;
        }
        .mainHeading {
            width: 100%;
            grid-column: 2;
        }
        .cornerBackground {
            grid-column: 1;
            grid-row: 1;
        }
        article {
            grid-column: 2;
            grid-row: 2 / 4;
        }
    }
}


/* Gallery */

article.gallery {
    color: rgb(255, 255, 255);
    background-color: #000;
}

figure img {
    width: 100%;
    filter: grayscale(100%);
}

figcaption {
    transition: 1s;
    text-align: center;
    color: #000;
    background-color: #fff;
}

figcaption {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

section.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    transition: all 2s;
}

figure {
    flex-shrink: 10%;
    display: block;
    min-width: 300px;
    max-width: 500px;
    transition: all 2s;
    height: auto;
    transition-duration: 1s;
}

@supports (display: grid) {
    section.gallery {
        display: grid;
        grid-gap: 10px;
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    figure {
        max-width: 100%;
        height: auto;
        margin: 0;
    }
}


/* fonts */

@font-face {
    font-family: openSansLight;
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf");
}

@font-face {
    font-family: robotoLight;
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: subheadingText;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: headingText;
    src: url("../fonts/unused/Monoton/Monoton-Regular.ttf");
}

@font-face {
    font-family: paraText;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}