div.galleryCell {
    transform: perspective(300px) rotateX(0deg) translateZ(0px);
    transition-duration: 1s;
}

div.galleryCell:hover {
    transform: perspective(300px) rotateX(12.5deg) translateZ(10px);
    z-index: 10;
}


div.galleryCell:active {
    transform: perspective(1000px) rotateX(180deg) translateZ(0);
}