div.galleryCell {
    transform-style: preserve-3d;
    box-shadow: 0px 0px 20px var(--galleryCellShadow);
    transform: perspective(300px) rotateX(0deg) translateZ(0px);
    transition-duration: 1s;
}

div.galleryCell:hover {
    transform-style: preserve-3d;
    box-shadow: 0px 50px 100px var(--galleryCellShadow);
    transform: perspective(300px) rotateX(12.5deg) translateZ(10px);
    z-index: 10;
}


div.galleryCell:active {
    box-shadow: 0px 50px 20px rgba(0, 0, 0, 0);
    transform: perspective(1000px) rotateX(180deg) translateZ(0);
}

div.galleryCell img {
    transform-style: preserve-3d;
    transform: perspective(300px) rotateX(0deg) translateZ(0px);
    filter: blur(4px);
    transition-duration: 1s;
}

div.galleryCell:hover img {
    transform-style: preserve-3d;
    filter: blur(0);
    transform: perspective(300px) rotateX(0deg) translateZ(10px);
    


}

div.galleryCell:active img{
    transform: perspective(300px) rotateX(0deg) translateZ(0px);
}