@import url('desktop/layoutDesktop.css') (orientation:landscape);
@import url('mobile/layoutMobile.css') (orientation:portrait);
@media (min-width: 600px) {
    div.mainContentGallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
}

@media (max-width: 600px) {
    div.mainContentGallery {
        grid-auto-flow: row;
        grid-template-rows: auto;
    }
}