@import url('desktop/styleDesktop.css') (orientation:landscape);
@import url('mobile/styleMobile.css') (orientation:portrait);
@import url('layout.css');
@import url('animation.css');

div.artProjectsWrapperWrapper {
    background-color: rgb(37, 37, 37);
    color: #fff;
}

div.artProjectsWrapperWrapper p, div.artProjectsWrapperWrapper h2 {
    font-family: paraText;
}

div.galleryCell {
    margin: 10px;
    padding: 0px;
    border-radius: 20px;
    border-bottom: solid;
    color: black;
    border-bottom-color: rgba(0, 0, 0, 0.37);
    background-color: rgb(255, 255, 255);
    
    transform: perspective(300px) rotateX(0deg) translateZ(0px);
    
    transition-duration: 1s;
}

div.galleryCell img {
    
    border-radius: 19px 19px 1.5px 1.5px;
    width: 100%;
}

div.galleryCell p {
    margin: 1px;
    text-align: center;
}



