@import url('desktop/styleDesktop.css') (orientation:landscape);
@import url('mobile/styleMobile.css') (orientation:portrait);
@import url('layout.css');

div.artProjectsWrapperWrapper {
    background-color: rgb(37, 37, 37);
    color: #fff;
}

div.artProjectsWrapperWrapper p, div.artProjectsWrapperWrapper h2 {
    font-family: paraText;
}

div.galleryCell {
    margin: 10px;
    padding: 0px;
    border-radius: 20px;
    border-bottom: solid;
    color: black;
    border-bottom-color: rgba(0, 0, 0, 0.37);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgb(90, 30, 109);
    transform: perspective(300px) rotateX(0deg) translateZ(0px);
    
    transition-duration: 1s;
}

div.galleryCell img {
    box-shadow: 0px 0px 20px rgb(90, 30, 109);
    border-radius: 20px 20px 0px 0;
    width: 100%;
}

div.galleryCell p {
    margin: 1px;
    text-align: center;
}



div.galleryCell:hover {
    transform: perspective(300px) rotateX(12.5deg) translateZ(10px);
    z-index: 10;
}