@import url('desktop/layoutDesktop.css') (orientation:landscape);
@import url('mobile/layoutMobile.css') (orientation:portrait);

.whatIDo {
    height: 100%;
    display: grid;
}

.whatIDoCell1, .whatIDoCell2, .whatIDoCell3 {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto min-content;
    /* display: block; */
    height: 400px;
    width: 400px;
    padding: 5px;
}



div.whatIDo img {
    height: 100%;
    margin: auto;
}