@import url('desktop/layoutDesktop.css') (orientation:landscape);
@import url('mobile/layoutMobile.css') (orientation:portrait);
.whatIDo {
    height: 100%;
    display: grid;
}

.whatIDoCell {
    transition: 1s;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto min-content;
    /* display: block; */
    height: 400px;
    width: 400px;
    padding: 5px;
}

div.whatIDo img {
    height: 100%;
    margin: auto;
}

.whatIDo {
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    margin: auto;
    grid-gap: auto;
}

.whatIDoTest {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto min-content auto;
}

.whatIDoCell {
    grid-column: 2;
}