@import url('desktop/styleDesktop.css') (orientation:landscape);
@import url('mobile/styleMobile.css') (orientation:portrait);
@import url('layout.css');


.whatIDoWrapper {
    padding: 10px;
}


.whatIDoCell1, .whatIDoCell2, .whatIDoCell3 {
    font-family: openSansLight;
    box-sizing: border-box;
    text-align: center;
    background-color: #61616100;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 50px;
    box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 30px;
}



div.whatIDo img {
    filter: invert(100%);
    opacity: 0.7;
}

div.whatIDo p {
    margin: 0;
}

